<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat"></ion-back-button>
    </ion-buttons>

    
    <div class="chat-header-user">
      <img [src]="chatPartnerAvatarUrl || 'assets/img/placeholder-avatar.png'" class="avatar-img" />
      <span class="chat-partner-name">{{ chatPartnerName || 'Συνομιλία' }}</span>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="chat-content">
  <div class="messages-container">
    <div *ngFor="let msg of messages" 
         class="message-row" 
         [ngClass]="{ 'me': msg.sender_id === userId, 'other': msg.sender_id !== userId }">
      <div class="bubble">{{ msg.content }}</div>
      <div class="timestamp">
        {{ msg.timestamp ? (msg.timestamp | date:'shortTime') : '⏳ no timestamp' }}
      </div>
    </div>
  </div>
</ion-content>


<ion-footer class="input-footer">
  <ion-toolbar>
    <ion-item lines="none" class="input-wrapper">
      <input
        type="text"
        [(ngModel)]="newMessage"
        class="message-input"
        placeholder="Γράψε μήνυμα..."
      />
      <ion-button slot="end" fill="solid" class="custom-btn" (click)="sendMessage()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>      
    </ion-item>
  </ion-toolbar>
</ion-footer>
