
.signup-step2-container {
    --background: #ffffff;
  
    .form-wrapper {
      padding: 32px;
  
      h1 {
        text-align: center;
        font-weight: bold;
        color: #000;
        margin-bottom: 16px;
      }
  
      .instructions {
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
      }
  
      ion-searchbar {
        --background: #f2f2f2;
        margin-bottom: 10px;
      }
  
      .selected-courses {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
      }
  
      .submit-btn {
        --background: #7B1E3B;
        --color: white;
        margin-top: 30px;
      }
    }
  }
  
  .custom-back {
    color: #7B1E3B;
  }
  
  .course-list-box {
    border: 1px solid #7B1E3B;
    border-radius: 12px;
    padding: 8px;
    margin-top: 8px;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .selected-courses {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
  }
  
  ion-chip {
    background-color: #FDF2F2;
    color: #7B1E3B;
    border: 1px solid #7B1E3B;
    border-radius: 16px;
  }
  
  .remove-icon {
    margin-left: 6px;
    cursor: pointer;
    color: #7B1E3B;
  }
  
  .course-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .course-name {
    font-weight: 600;
    margin-right: 8px; 
  }
  
  .course-semester {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
  }
  
  ion-title {
    white-space: normal !important;
    overflow-wrap: break-word !important;
    text-align: center;
    font-size: 17px; /* μπορείς να το μικρύνεις λίγο για κινητό */
    padding: 0 40px; /* αφήνει χώρο για το back button */
    line-height: 1.2;
  }
  