
.reset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f8f8f8;
  padding: 16px;
}

.reset-box {
  background: white;
  padding: 32px 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-top: 6px solid #8C1310;
}

.lock-icon {
  font-size: 64px;
  color: #8C1310;
  margin-bottom: 16px;
}

.unihelp-button {
  --background: #8C1310;
  --background-hover: #a2211f;
  --background-activated: #74110f;
  color: white;
  margin-top: 24px;
}


ion-item.custom-password-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --highlight-color-focused: transparent;
  --min-height: 50px;
  border: 1px solid #8C1310;
  border-radius: 10px;
  margin-bottom: 16px;
}

ion-item.custom-password-item input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  caret-color: #8C1310;
}
