ion-item.user-msg {
    --background: #e6f2ff;
    border-radius: 10px;
    margin-bottom: 6px;
  }
  
  ion-item.bot-msg {
    --background: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 6px;
  }
  
  .input-area {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  