<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-nav">
      <ion-icon name="book-outline" [routerLink]="['/notes-feed']"></ion-icon>
      <ion-icon name="search-outline" [routerLink]="['/search-users']"></ion-icon>


<div class="icon-with-badge" [routerLink]="['/chat']">
  <ion-icon name="chatbubble-ellipses-outline" class="notification-icon"></ion-icon>
  <ion-badge *ngIf="(unreadMessages$ | async) as msgs" class="notif-badge" [attr.data-count]="msgs ?? ''">
    {{ msgs }}
  </ion-badge>
</div>
      

<ion-icon name="person-outline" [routerLink]="['/profile']"></ion-icon>



<div class="icon-with-badge" [routerLink]="['/notifications']">
  <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
  <ion-badge *ngIf="(unreadCount$ | async) as count" class="notif-badge" [attr.data-count]="count ?? ''">
    {{ count }}
  </ion-badge>
</div>


      <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
