<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" class="custom-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Επαναφορά Κωδικού</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="reset-wrapper">
    <div class="reset-box">
      <ion-icon name="lock-closed-outline" class="lock-icon"></ion-icon>
      <h2>Ορισμός νέου κωδικού</h2>
      <p>Εισάγε τον νέο σου κωδικό πρόσβασης δύο φορές για επιβεβαίωση.</p>

      <ion-item lines="none">
        <ion-input
          type="password"
          placeholder="Νέος Κωδικός"
          [(ngModel)]="password"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="password"
          placeholder="Επιβεβαίωση Κωδικού"
          [(ngModel)]="confirmPassword"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" class="unihelp-button" (click)="resetPassword()">
        Αποθήκευση Κωδικού
      </ion-button>
    </div>
  </div>
</ion-content>
