<ion-header>
  <ion-toolbar class="profile-toolbar">
    <ion-title>Το προφίλ μου</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" class="info-icon-btn" [routerLink]="['/points-info']">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>      
      
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding profile-content">
  <div class="profile-header">
    <div>
      <h2>Γεια σου, {{ userData?.username }} 👋</h2>
      <span class="upoints-tag">{{ userPoints }} UPoints</span>
    </div>
    <div class="avatar-settings">
      <img
        [src]="avatarUrl || 'assets/img/placeholder-avatar.png'"
        alt="avatar"
        class="avatar-img"
        [class.visible]="avatarVisible"
      />

      <ion-button fill="outline" size="small" class="settings-icon-btn" [routerLink]="['/profile-settings']">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-card class="info-card">
    <ion-card-content>
      <p><strong>Τμήμα:</strong><br>{{ userData?.department }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-card">
    <ion-card-content>
      <p><strong>Μπορώ να βοηθήσω:</strong></p>
      <ul *ngIf="canHelpCourses.length > 0">
        <li *ngFor="let course of canHelpCourses">{{ course }}</li>
      </ul>
      <p *ngIf="canHelpCourses.length === 0">Δεν έχετε επιλέξει μαθήματα ακόμα.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-card">
    <ion-card-content>
      <p><strong>Χρειάζομαι βοήθεια:</strong></p>
      <ul *ngIf="needsHelpCourses.length > 0">
        <li *ngFor="let course of needsHelpCourses">{{ course }}</li>
      </ul>
      <p *ngIf="needsHelpCourses.length === 0">Δεν έχετε δηλώσει ότι χρειάζεστε βοήθεια ακόμα.</p>

      <div class="centered-button">
        <ion-button class="custom-red-btn mini-btn" size="small" routerLink="/edit-needs-help">
          Ζητά βοήθεια από την κοινότητα του UniHelp!
        </ion-button>
      </div>
      
           
    </ion-card-content>
  </ion-card>

    <!-- Αν δεν έχει απαντήσει ποτέ -->
    <ion-card *ngIf="getPushPermissionState() === 'default' && !isNative">
      <ion-card-content>
        <ion-button expand="block" (click)="enableNotifications()">
          Ενεργοποίηση ειδοποιήσεων
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Αν έχει αρνηθεί -->
    <ion-card *ngIf="getPushPermissionState() === 'denied' && !isNative">
      <ion-card-content>
        <ion-button expand="block" fill="outline" color="warning" (click)="openNotificationSettings()">
          Επανενεργοποίησε τις ειδοποιήσεις
        </ion-button>
        <p class="ion-text-center ion-margin-top">
          Έχεις απορρίψει τις ειδοποιήσεις. Πήγαινε στις ρυθμίσεις του browser για να τις επιτρέψεις ξανά.
        </p>
      </ion-card-content>
    </ion-card>



  <div class="button-row">
    <ion-button expand="block" class="custom-red-btn" routerLink="/upload-notes">
      Ανέβασε σημειώσεις
    </ion-button>    
    <ion-button expand="block" class="custom-red-btn" routerLink="/my-notes">
      Οι Σημειώσεις μου
    </ion-button>         
    <ion-button expand="block" fill="outline" class="custom-red-btn" routerLink="/favorite-notes">
      <ion-icon name="heart-outline" slot="start"></ion-icon>
      Αγαπημένα
    </ion-button>
    
    <ion-button expand="block" class="custom-red-btn" routerLink="/my-reports">
      Οι Αναφορές μου
    </ion-button>

    <!-- ΜΟΝΟ για admins -->
    <ion-button 
    *ngIf="userData?.role === 'admin'"
    expand="block"
    class="custom-red-btn ion-margin-top"
    (click)="openAdminDashboard()">
    <ion-icon name="construct-outline" slot="start"></ion-icon>
    Πίνακας Διαχειριστή
  </ion-button>
  

  
    
  </div>
</ion-content> 

<app-footer-nav></app-footer-nav>
