.form-box {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border: 1px solid #e0e0e0;
  margin: 16px 0;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.custom-input {
  width: 100%;
  padding: 14px 16px;
  border: 2px solid #7B1E3B;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  margin-bottom: 18px;
}

.custom-input::placeholder {
  color: #888;
}

textarea.custom-input {
  resize: vertical;
}

.custom-search {
  --background: #fff;
  --border-color: #7B1E3B;   
  --border-width: 1px;
  --border-radius: 8px;
  --box-shadow: none;
  --icon-color: #7B1E3B;
  --cancel-button-color: #7B1E3B;
  --placeholder-color: #999;
}

.custom-search .searchbar-input-container {
  padding: 0 8px;
}

.custom-search .searchbar-input {
  font-size: 15px;
}

.search-wrapper {
  border: 2px solid #7B1E3B;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
}

.dropdown-container {
  background: #fff;
  border: 2px solid #7B1E3B;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin-top: 6px;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
}

.custom-dropdown {
  padding: 0;
}

.custom-option {
  font-size: 15px;
  color: #333;
}

.selected-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

ion-chip {
  background-color: #FDF2F2;
  color: #7B1E3B;
  border: 1px solid #7B1E3B;
  border-radius: 16px;
}

.remove-icon {
  margin-left: 6px;
  cursor: pointer;
  color: #7B1E3B;
}

.course-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-name {
  font-weight: 600;
  margin-right: 8px;
}

.course-semester {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}

/* -------- Alert custom -------- */

ion-alert.custom-alert {
  --ion-color-primary: #7B1E3B;
  --ion-color-primary-contrast: #fff;
  --ion-color-light: #7B1E3B;
  --ion-color-light-contrast: #fff;
  --background: #fff;
  --color: #000;
}

.alert-button {
  color: #7B1E3B !important;
  font-weight: 600;
}

.custom-red-btn {
  --background: #7B1E3B;
  --background-hover: #a2211f;
  --background-activated: #7a100d;
  --color: #fff;
  border-radius: 14px;
  font-weight: bold;
  margin-top: 16px;
  font-size: 16px;
  text-transform: none;
}

.custom-ion-select {
  --background: #fff;
  --border-radius: 10px;
  --padding-start: 12px;
  --inner-padding-end: 8px;
  --border-width: 2px;
  --border-color: #7B1E3B;
  --color: #000;
  margin-bottom: 18px;
  font-size: 15px;

  --inner-border-width: 0;
}

.custom-ion-select ion-label {
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

.custom-ion-select ion-select {
  font-size: 15px;
  --placeholder-color: #888;
}
