<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Ανέβασε Σημειώσεις</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-box">
    <form (submit)="onSubmit()">

      <label class="form-label">Τίτλος</label>
      <input
        [(ngModel)]="title"
        name="title"
        required
        class="custom-input"
        type="text"
        placeholder="Π.χ. Δοκιμαστικές σημειώσεις"
      />

    
      <label class="form-label">Κατηγορία</label>
<select
  [(ngModel)]="category"
  name="category"
  required
  class="custom-input"
>
  <option value="" disabled selected>Επίλεξε κατηγορία</option>
  <option value="Σημειώσεις">Σημειώσεις</option>
  <option value="Διαφάνειες">Διαφάνειες</option>
  <option value="Ασκήσεις">Ασκήσεις</option>
  <option value="Λυμένες Ασκήσεις">Λυμένες Ασκήσεις</option>
</select>


    
<!-- 🔍 Αναζήτηση Μαθήματος -->
<label class="form-label">Αναζήτηση Μαθήματος</label>

<div class="search-wrapper" (click)="onSearchWrapperClick($event)">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    [ngModelOptions]="{ standalone: true }"
    (ionInput)="filterCourses()"
    (ionFocus)="showDropdown = true"
    placeholder="Πληκτρολόγησε όνομα μαθήματος..."
    class="custom-search"
  ></ion-searchbar>
</div>

<!-- 📋 Dropdown Λίστα Μαθημάτων -->
<div class="dropdown-container" *ngIf="showDropdown && filteredCourses.length > 0">
  <ion-list class="custom-dropdown">
    <ion-item
      *ngFor="let course of filteredCourses"
      (click)="selectCourse(course)"
      lines="full"
      class="custom-option"
    >
      {{ course.name }} ({{ course.semester }}ο • {{ course.type }})
    </ion-item>
  </ion-list>
</div>



<div class="selected-courses" *ngIf="selectedCourseName">
  <ion-chip>
    <ion-label class="course-row">
      <span class="course-name">{{ selectedCourseName }}</span>
      <span class="course-semester">
        ({{ selectedCourseSemester }}ο)
      </span>
    </ion-label>
    <ion-icon
      name="close-circle"
      class="remove-icon"
      size="small"
      (click)="clearSelectedCourse()"
    ></ion-icon>
  </ion-chip>
</div>

    
<label class="form-label">Περιγραφή</label>
<textarea
  [(ngModel)]="description"
  name="description"
  required
  class="custom-input"
  rows="4"
  placeholder="Περιγραφή..."
></textarea>


    
      <label class="form-label">Αρχεία</label>
      <input type="file" multiple (change)="onFileChange($event)" />
    
      <ion-button
  expand="block"
  type="button"
  class="custom-red-btn"
  (click)="handleUploadClick()"
>
  Ανέβασε
</ion-button>

    </form>    
  </div>
</ion-content>
