ion-alert.custom-alert {
    --ion-color-primary: #8C1310;
    --ion-color-primary-contrast: #fff;
  
    --ion-color-light: #8C1310;
    --ion-color-light-contrast: #fff;
  
    --background: #fff;
    --color: #000;
  }
  
  .alert-button {
    color: #8C1310 !important;
    font-weight: 600;
  }
  