<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" class="custom-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Ανάκτηση Κωδικού</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Ξέχασες τον κωδικό σου;</h2>
  <p>Συμπλήρωσε το email σου και θα σου στείλουμε οδηγίες επαναφοράς.</p>

  <ion-item>
    <ion-input [(ngModel)]="email" type="email" placeholder="π.χ. stXXXXXXX@upatras.gr"></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round" color="primary" (click)="submit()">
    Αποστολή Email
  </ion-button>
</ion-content>
