.login-container {
  --background: #ffffff;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    margin-top: 60px;

    h1 {
      text-align: center;
      font-weight: bold;
      color: #8C1310;
      margin-bottom: 16px;
    }

    .custom-input {
      --background: #f2f2f2;
      --padding-start: 16px;
      --border-radius: 10px;
      font-size: 15px;

      --highlight-color-focused: #8C1310;
      --highlight-color: #8C1310;
    }

    .login-btn {
      --background: #8C1310;
      --color: #ffffff;
      --border-radius: 12px;
      font-weight: 600;
      margin-top: 10px;
      text-transform: none;
    }

    .extra-links {
      text-align: center;
      font-size: 14px;
      margin-top: 20px;

      a {
        color: #8C1310;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

.custom-back {
  color: #8C1310; 
}
