<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="custom-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <div class="form-wrapper">
    <h1>Σύνδεση</h1>

    <ion-input
      type="email"
      placeholder="π.χ. st1234567@ceid.upatras.gr"
      fill="solid"
      class="custom-input"
      [(ngModel)]="email"
    ></ion-input>

    <ion-input
      type="password"
      placeholder="*********"
      fill="solid"
      class="custom-input"
      [(ngModel)]="password"
    ></ion-input>

    <ion-button expand="block" class="login-btn" shape="round" (click)="login()">
      Σύνδεση
    </ion-button>

    <!-- Εμφάνιση κουμπιού μόνο αν χρειάζεται -->
    <ion-button
      *ngIf="showResend"
      expand="block"
      fill="outline"
      color="medium"
      shape="round"
      (click)="resendVerification()"
    >
      Αποστολή ξανά email επιβεβαίωσης
    </ion-button>

    <div class="extra-links">
      <p>Ξέχασες τον κωδικό σου; <a routerLink="/forgot-password">Ανάκτηση</a></p>
      <p>Δεν έχεις λογαριασμό; <a routerLink="/signup-step1">Εγγραφή</a></p>
    </div>
  </div>
</ion-content>
