
.login-container {
  --background: #ffffff;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    margin-top: 60px;

    h1 {
      text-align: center;
      font-weight: bold;
      color: #8C1310;
      margin-bottom: 16px;
    }

    .custom-input {
      --background: #f2f2f2;
      --padding-start: 16px;
      --border-radius: 10px;
      font-size: 15px;

      --highlight-color-focused: #8C1310;
      --highlight-color: #8C1310;
    }

    .login-btn {
      --background: #8C1310;
      --color: #ffffff;
      --border-radius: 12px;
      font-weight: 600;
      margin-top: 10px;
      text-transform: none;
    }

    .extra-links {
      text-align: center;
      font-size: 14px;
      margin-top: 20px;

      a {
        color: #8C1310;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

.custom-back {
  color: #8C1310; 
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper ion-input {
  flex: 1;
}


.custom-input {
  --background: #f2f2f2;
  --padding-start: 16px;
  --border-radius: 10px;
  font-size: 14px;

  input::placeholder {
    font-size: 12px;
  }

  --highlight-color-focused: #8C1310;
  --highlight-color: #8C1310;
}


ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --highlight-color-focused: transparent;
  --min-height: 50px;
  border: 1px solid #8C1310;
  border-radius: 10px;
  margin-bottom: 16px;
}

.native-input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  background: transparent;  
  border: none;             
  outline: none;
  color: #000;
  caret-color: #8C1310;
}

.password-item {
  position: relative;

  ion-icon.toggle-password-icon {
    position: absolute;
    right: 12px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #666;
    z-index: 10;
    cursor: pointer;
  }
}
