ion-item.custom-email-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --highlight-color-focused: transparent;
    --min-height: 50px;
    border: 1px solid #7B1E3B;
    border-radius: 10px;
    margin-bottom: 16px;
  }
  
  ion-item.custom-email-item input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    caret-color: #7B1E3B;
  }
  