<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search-users"></ion-back-button>
    </ion-buttons>
    <ion-title>Προφίλ Χρήστη</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profile-content" *ngIf="user">
  <div class="profile-header">
    <div>
      <h2>{{ user.username }}</h2>
      <span class="upoints-tag">{{ user.upoints || 0 }} UPoints</span>
    </div>
    <div class="avatar-settings">
      <img [src]="avatarUrl" alt="avatar" class="avatar-img" [class.visible]="avatarVisible"/>

    </div>
  </div>

  <ion-card class="info-card">
    <ion-card-content>
      <p><strong>Τμήμα:</strong> {{ user.department }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>

      <div *ngIf="user.can_help_courses.length > 0">
        <p><strong>Μπορεί να βοηθήσει σε:</strong></p>
        <ul>
          <li *ngFor="let course of user.can_help_courses">{{ course }}</li>
        </ul>
      </div>

      <div *ngIf="user.needs_help_courses.length > 0">
        <p><strong>Χρειάζεται βοήθεια σε:</strong></p>
        <ul>
          <li *ngFor="let course of user.needs_help_courses">{{ course }}</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
