<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search-users"></ion-back-button>
    </ion-buttons>
    <ion-title>Προφίλ Χρήστη</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profile-content" *ngIf="user">
  <div class="profile-header">
    <div>
      <h2>{{ user.username }}</h2>
      <span class="upoints-tag">{{ user.upoints || 0 }} UPoints</span>
    </div>
    <div class="avatar-settings">
      <img [src]="avatarUrl" alt="avatar" class="avatar-img" [class.visible]="avatarVisible"/>
    </div>
  </div>

  <ion-card class="info-card">
    <ion-card-content>
      <p><strong>Τμήμα:</strong> {{ user.department }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>

      <div *ngIf="user.can_help_courses.length > 0">
        <p><strong>Μπορεί να βοηθήσει σε:</strong></p>
        <ul>
          <li *ngFor="let course of user.can_help_courses">{{ course }}</li>
        </ul>
      </div>

      <div *ngIf="user.needs_help_courses.length > 0">
        <p><strong>Χρειάζεται βοήθεια σε:</strong></p>
        <ul>
          <li *ngFor="let course of user.needs_help_courses">{{ course }}</li>
        </ul>
      </div>

      <div class="rating-section">
        <p *ngIf="averageRating !== null">
          ⭐ {{ averageRating }} / 5 ({{ reviewCount }} αξιολογήσεις)
        </p>

        <div class="star-rating" *ngIf="user?.id !== currentUserId">
          <ng-container *ngFor="let star of [1,2,3,4,5]">
            <ion-icon
              [name]="star <= userRating ? 'star' : 'star-outline'"
              class="star-icon"
              [class.rated]="userRating > 0"
              (click)="userRating === 0 && rateUser(star)"  
            ></ion-icon>
          </ng-container>        
        </div>
      </div>


    </ion-card-content>

    <ion-button
      expand="block"
      color="primary"
      *ngIf="user?.id !== currentUserId"
      (click)="startChatWithUser()"
    >
      💬 Στείλε Μήνυμα
    </ion-button>

    <ion-button
      expand="block"
      color="medium"
      *ngIf="user?.id !== currentUserId"
      (click)="openReportUser()"
    >
      ⚠️ Αναφορά χρήστη
    </ion-button>
  </ion-card>
</ion-content>
