.note-meta {
    font-size: 14px;
    color: #444;
    margin-top: 8px;
  
    p {
      margin: 4px 0;
    }
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  
  .file-link {
    text-decoration: none;
    color: #8C1310;
    font-weight: 600;
    font-size: 14px;
  
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .remove-btn {
    margin-left: auto;
    color: #8C1310;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  